/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $brand-primary: #84ACCE;
 $brand-success: #33658a;
 $brand-info:    #5adbff;
 $brand-warning: white; //
 $brand-danger:  #885053; //50C5B7;
 $font-family-base: verdana;

@import "bootstrap-sprockets";
@import "bootstrap";


body {
  background-color: #33658a;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

p {
    color: white;
    font-family: verdana;
    font-size: 17px;
}

.top15 {
  margin-top: 15px;
}

.pillbox .btn {
  @extend .btn-info;
}

.transcript {
  height: 150px;
  overflow-y: scroll;
  background-color: white;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  & p {
    color: $text-color;
  }
}

.recording {
  font-size: 13px;
  line-height: 1;
}
