<div class="row">
    <div class="col-md-12">
        <p></p>
        <h2>Transcribe</h2>
        <p>To begin recording, press the Start button.</p>
        <div class="row">
            <div class="col-md-12 top15">
                <button type="button" class="btn btn-info btn-lg">Start</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 top15">
                <input type="text" class="form-control" placeholder="Transcript">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 top15">
                <button type="button" class="btn btn-info btn-lg">Pause</button>
            </div>
            <div class="col-md-2 top15">
                <button type="button" class="btn btn-info btn-lg">Stop</button>
            </div>
            <div class="col-md-8 top15"></div>
        </div>
        <div class="row">
            <p></p>
        </div>
        <hr />
        <h2>Review</h2>
        <p>Please review the results of the appointment:</p>
        <div class="row">
            <h3>Symptoms</h3>
        </div>
        <div class="row">
            <div class="pillbox btn-warning" data-initialize="pillbox" id="symptomsPillbox">
                <ul class="clearfix pill-group">
                    <li class="btn pill" data-value="foo">
                        <span>1st Symptom</span>
                        <span class="glyphicon glyphicon-close">
                        <span class="sr-only">Remove</span>
                        </span>
                    </li>
                    <li class="btn pill" data-value="foo">
                        <span>2nd Symptom</span>
                        <span class="glyphicon glyphicon-close">
                        <span class="sr-only">Remove</span>
                        </span>
                    </li>
                    <li class="pillbox-input-wrap btn-group">
                        <input type="text" class="form-control pillbox-add-item btn-danger" placeholder="more">
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h3>Areas Affected</h3>
        </div>
        <div class="row">
          <div class="pillbox btn-warning" data-initialize="pillbox" id="areasPillbox">
              <ul class="clearfix pill-group">
                  <li class="btn pill" data-value="foo">
                      <span>1st Area</span>
                      <span class="glyphicon glyphicon-close">
                      <span class="sr-only">Remove</span>
                      </span>
                  </li>
                  <li class="btn pill" data-value="foo">
                      <span>2nd Area</span>
                      <span class="glyphicon glyphicon-close">
                      <span class="sr-only">Remove</span>
                      </span>
                  </li>
                  <li class="pillbox-input-wrap btn-group">
                      <input type="text" class="form-control pillbox-add-item btn-danger" placeholder="more">
                  </li>
              </ul>
          </div>
        </div>
        <div class="row">
            <h3>Diagnosis</h3>
        </div>
        <div class="row">
          <div class="pillbox btn-warning" data-initialize="pillbox" id="diagnosisPillbox">
              <ul class="clearfix pill-group">
                  <li class="btn pill" data-value="foo">
                      <span>Diagnosis</span>
                      <span class="glyphicon glyphicon-close">
                      <span class="sr-only">Remove</span>
                      </span>
                  </li>
                  <li class="pillbox-input-wrap btn-group">
                      <input type="text" class="form-control pillbox-add-item btn-danger" placeholder="more">
                  </li>
              </ul>
          </div>
        </div>
        <div class="row">
            <h3>Prescription</h3>
        </div>
        <div class="row">
          <div class="pillbox btn-warning" data-initialize="pillbox" id="prescriptionPillbox">
              <ul class="clearfix pill-group">
                  <li class="btn pill" data-value="foo">
                      <span>1st Prescription</span>
                      <span class="glyphicon glyphicon-close">
                      <span class="sr-only">Remove</span>
                      </span>
                  </li>
                  <li class="btn pill" data-value="foo">
                      <span>2nd Prescription</span>
                      <span class="glyphicon glyphicon-close">
                      <span class="sr-only">Remove</span>
                      </span>
                  </li>
                  <li class="pillbox-input-wrap btn-group">
                      <input type="text" class="form-control pillbox-add-item btn-danger" placeholder="more">
                  </li>
              </ul>
          </div>
        </div>
        <hr />
        <h2>Report</h2>
        <p>Click these buttons to generate custom reports for the doctor or patient.</p>
        <div class="row">
            <div class="col-md-4 top15">
                <button type="button" class="btn btn-info btn-lg">Generate Doctor's Report</button>
            </div>
            <div class="col-md-4 top15">
                <button type="button" class="btn btn-info btn-lg">Generate Patient's Report</button>
            </div>
            <div class="col-md-4 top15"></div>
        </div>
        <p></p>
    </div>
</div>
